<header>
    <ul>
        <li><a href="/admin">User</a></li>
        <li><a href="/handle-product">Product</a></li>
        <li><a href="/handle-second-hand-form">SneakerPass</a></li>
        <li><a href="/handle-order">Orders</a></li>
        <li><a href="/analytic">Analytic</a></li>
    </ul>
</header>