<header>
    <ul>
        <li>
            <a href="/admin">User</a>
        </li>
        <li>Product</li>
        <li>SneakerPass</li>
        <li>Orders</li>
        <li>Analytic</li>
    </ul>
</header>