<header>
    <ul>
        <li>
            <a href="/admin">User</a>
        </li>
        <li>Product</li>
        <li><a href="/handle-second-hand-form">SneakerPass</a></li>
        <li>Orders</li>
        <li>Analytic</li>
    </ul>
</header>