<footer>
    <div class="footer1">
        <span class="material-symbols--store"></span>
        <div class="product">
            <h4>PRODUCT</h4>
            <br>
            <p><a href="/product/male">Men's shoes</a></p>
            <p><a href="/product/female">Women's shoes</a></p>
            <p><a href="/second-hand-form">Sneaker Pass</a></p>
        </div>
        <div class="support">
            <h4>SUPPORT</h4>
            <br>
            <p><a href="/faqs">FAQs</a></p>
            <a href="/privacy">Information Security</a>
            <p><a href="/policy">General Policy</a></p>
            <a href="/order-tracking">Order Tracking</a>
        </div>
        <div class="contact">
            <h4>CONTACT</h4>
            <br>
            <p>Email feedback</p>
            <a href="mailto: sneakfreak@gmail.com">SneakFreak@gmail.com</a>
            <p>Hotline:</p>
            <p>1900 3004</p>
        </div>
    </div>
    <div class="footer2">
        <div class="social">
            <h4>SNEAKFREAK SOCIAL</h4>
            <br>
            <div class="iconcontact">
                <span class="raphael--facebook"></span>
                <span class="mdi--instagram"></span>
                <span class="teenyicons--youtube-outline"></span>
            </div>
        </div>
        <img src="/image/footer.png" alt="SNEAKFREAK's logo">
    </div>
    <p class="copyright">Copyright &copy 2025 SneakFreak. All rights reserved.</p>
</footer>