* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

table {
    margin: 10px;
    width: 100%;
    table-layout: auto;
    word-break: break-word;
    margin: 10px;
}

header {
    padding: 16px;
    background-color: #c2dd26;
    padding-bottom: 5px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

header li {
    position: relative;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 4px 0;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

header li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    background-color: blue;
    transition: width 0.3s ease;
}

header li:hover::after {
    width: 100%;
}

.button {
    display: flex;
    gap: 50px;
}

a {
    text-decoration: none;
    color: black;
}