* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

table {
    margin: 10px;
    width: 100%;
    table-layout: auto;
    word-break: break-word;
    margin: 10px;
}