body,
h1,
p,
main,
footer {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/image/form.png");
    padding: 40px 0;
    background-color: #f8f9fa;
}

main form {
    width: 90%;
    max-width: 800px;
    border: 2px solid #dee2e6;
    border-radius: 12px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.title,
.buttons {
    text-align: center;
}

table tr {
    margin-bottom: 0 !important;
}

table td,
table th {
    padding-top: 4px;
    padding-bottom: 4px;
}

.buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.order main {
    background-image: none;
    min-height: 0;
    max-height: 100vh;
}

.login main {
    background-image: url("/image/background2.png");
    background-size: cover;
    background-position: center;
    min-height: 0;
    max-height: 100%;
    height: 140vh;
    width: 100%;
    background-repeat: no-repeat;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 5px;
}

.login td {
    padding-left: 30px;
}

.label {
    text-align: right;
}

.login input {
    width: 260px;
}

#signup {
    font-size: 12px;
    text-decoration: underline;
}

/*error*/
.error-box {
    display: none;
    padding: 10px;
    margin: 10px 20px;
    color: red;
    border-radius: 10px;
    margin-bottom: 10px;
}

.error-box ul {
    margin: 0;
    padding-left: 20px;
    list-style: none;
}

.warn {
    margin: 10px 30px;
    color: red;
    padding: 10px;
    border-radius: 20px;
}

.warn li {
    margin: 0 20px;
}