<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SneakFreak</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <ul>
            <li>
                <span class="hugeicons--package"></span>
                <a href="/order-tracking">Order Tracking</a>
            </li>
            <li>Favourite</li>
            <li>Log in</li>
            <li>Cart</li>
        </ul>
    </header>
    <nav></nav>
    <main></main>
    <footer></footer>
</body>

</html>