<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SneakFreak</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/image/test.png">
</head>

<body>
    <header>
        <ul class="nav-items">
            <li>
                <a href="/order-tracking">
                    <span class="hugeicons--package"></span> Order Tracking</a>
            </li>
            <li>
                <a href="/favourite">
                    <span class="mdi--favourite"></span>Favourite</a>
            </li>
            <li>
                <a href="/log-in">
                    <span class="icon-park-solid--people"></span>Log In</a>
            </li>
            <li>
                <a href="/cart">
                    <span class="mdi--cart"></span>Cart</a>
            </li>
        </ul>
    </header>
    <div class="nav">
        <img src="/image/test.png" alt="logo SneakFreak">
    </div>
    <div class="promotion">

    </div>
    <main></main>
    <footer></footer>
</body>

</html>