<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/image/test.png">
    <script src="/js/navshow.js"></script>
</head>

<body>
    <header>
        <ul class="nav-items">
            <li>
                <a href="/order-tracking">
                    <span class="hugeicons--package"></span> Order Tracking</a>
            </li>
            <li>
                <a href="/favourite">
                    <span class="mdi--favourite"></span>Favourite</a>
            </li>
            <li>
                <a href="/log-in">
                    <span class="icon-park-solid--people"></span>Log In</a>
            </li>
            <li>
                <a href="/cart">
                    <span class="mdi--cart"></span>Cart</a>
            </li>
        </ul>
    </header>
    <div class="nav">
        <div class="logoimg">
            <a href="/"> <img src="/image/test.png" alt="logo SneakFreak"></a>
        </div>
        <div class="main_nav">
            <ul>
                <li><a href="/product">PRODUCT</a></li>
                <li><a href="/product/male">MALE</a></li>
                <li><a href="/product/female">FEMALE</a></li>
                <li><a href="/second-hand-form">SNEAKER PASS</a></li>
            </ul>
        </div>
        <div class="search_box">
            <div class="material-symbols--search"></div>
            <input type="text" placeholder="Search" />
        </div>
    </div>
    <div class="promotion">
        <div class="slide-wrapper">
            <div class="slide-track">
                <div class="slide">
                    <p><a href="/faqs">BUY MORE PAY LESS - APPLICABLE WHEN BUYING SECONDHAND</a></p>
                </div>
                <div class="slide">
                    <p><a href="/faqs">BUY 2 GET 10% OFF - APPLIES TO ALL SNEAKER</a></p>
                </div>
                <div class="slide">
                    <p><a href="/faqs">FREE SHIPPING WITH ORDERS FROM 50$</a></p>
                </div>
                <div class="slide">
                    <p><a href="/policy">14 DAYS RETURN POLICY - SHOES HAVE A HALF-YEAR WARRANTY</a></p>
                </div>
            </div>
        </div>
        <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
        <button class="next" onclick="changeSlide(1)">&#10095;</button>
    </div>
    <main class="policy">
        <h3 class="head">INFORMATION SECURITY POLICY</h3>
        <br>
        <p><b>SneakFreak</b> (the owner of the website www.sneakfreak.vn ) is committed to respecting and protecting
            your private
            information. We understand that you need to know how we manage personal information collected from the
            website. Please read and learn about the "Information Security Policy" below before accessing other content
            to better understand the commitments we make to respect and protect the rights of users. Your access,
            registration, and use of the SneakFreak.vn website means that you agree and accept to be bound by the terms
            of our privacy policy.</p>
        <br>
        <hr style="height: 2px; background-color: black; border: none;">
        <br>
        <h3>1. PERSONAL INFORMATION</h3>
        <br>
        <p>SneakFreak only asks for your personal information such as:</p>
        <ul>
            <li>Full name</li>
            <li>Email address</li>
            <li>Phone number</li>
            <li>Address (for order management and delivery purposes)</li>
        </ul>
        <p>Along with other optional information when you want to interact with some content on SneakFreak . Your
            personal information will be used by SneakFreak to identify and contact you when needed.</p>
        <br>
        <hr style="border: 1px dashed gray;">
        <br>
        <h3>2. HOW TO USE INFORMATION</h3>
        <br>
        <p>Normally, we use the information you provide only to contact, answer questions or confirm order information
            according to the name, address and phone number you have provided. We promise that your personal information
            will not be shared with any third party without your consent. We may only be allowed to share information
            with delivery partners or with partners in other programs and projects. SneakFreak customer data may be
            transferred to a successor or designated person according to the agreement to manage when the company is
            acquired, merged or declared bankrupt..
        </p>
        <br>
        <hr style="border: 1px dashed gray;">
        <br>
        <h3>3. ENSURING THE SECURITY OF COLLECTED INFORMATION</h3>
        <br>
        <p>SneakFreak only collects your personal information within the appropriate and necessary scope for the purpose
            of improving the quality of service as well as enhancing the experience of the services provided by
            SneakFreak. We are committed to respecting and always maintaining appropriate measures to ensure the safety,
            integrity, accuracy and confidentiality of the information you have trusted to provide to us. In addition,
            SneakFreak
            is also committed to taking appropriate measures to ensure the safety and confidentiality of all information
            you have provided to us in programs or in association with partners and third parties.</p>
        <br>
        <h3>4. COOKIES</h3>
        <br>
        <p>Cookies are small files generated during your visit and activities on the Website, recorded by SneakFreak to
            meet the needs of users and many other purposes.</p>
        <br>
        <hr style="border: 1px dashed gray;">
        <br>
        <h3>5. LINKS TO OTHER WEBSITE</h3>
        <br>
        <p>If you click on a link to a third party website, you will leave SneakFreak and go to the website you
            selected.
            SneakFreak cannot control the activities of third parties and is not responsible for the security or any
            content
            on such websites.</p>
        <hr style="border: 1px dashed gray;">
        <br>
        <h3>6. CHANGES</h3>
        <br>
        <p>We reserve the right to change or supplement the content of these terms. You can regularly check to
            understand the changed terms in our "Information Security Policy" . In addition, for important changes in
            the way of use related to the personal information you provide to SneakFreak , we will send you a notice by
            Email or notice on other official communication channels of SneakFreak . In case you have questions about
            the
            terms or how to use related to your personal information on the website SneakFreak.vn , please contact us at
            Email address: sneakfreak@gmail.com .</p>
    </main>
    <footer>
        <div class="footer1">
            <span class="material-symbols--store"></span>
            <div class="product">
                <h4>PRODUCT</h4>
                <br>
                <p><a href="/product/male">Men's shoes</a></p>
                <p><a href="/product/female">Women's shoes</a></p>
                <p><a href="/second-hand-form">Sneaker Pass</a></p>
            </div>
            <div class="support">
                <h4>SUPPORT</h4>
                <br>
                <p><a href="/faqs">FAQs</a></p>
                <a href="/privacy">Information Security</a>
                <p><a href="/policy">General Policy</a></p>
                <a href="/order-tracking">Order Tracking</a>
            </div>
            <div class="contact">
                <h4>CONTACT</h4>
                <br>
                <p>Email feedback</p>
                <a href="mailto: sneakfreak@gmail.com">SneakFreak@gmail.com</a>
                <p>Hotline:</p>
                <p>1900 3004</p>
            </div>
        </div>
        <div class="footer2">
            <div class="social">
                <h4>SNEAKFREAK SOCIAL</h4>
                <br>
                <div class="iconcontact">
                    <span class="raphael--facebook"></span>
                    <span class="mdi--instagram"></span>
                    <span class="teenyicons--youtube-outline"></span>
                </div>
            </div>
            <img src="/image/footer.png" alt="SNEAKFREAK's logo">
        </div>
        <p class="copyright">Copyright &copy 2025 SneakFreak. All rights reserved.</p>
    </footer>
</body>

</html>