<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/image/test.png">
    <script src="/js/navshow.js"></script>
</head>

<body>
    <%- include('layout/header.ejs'); -%>

        <main class="policy">
            <h3 class="head">INFORMATION SECURITY POLICY</h3>
            <br>
            <p><b>SneakFreak</b> (the owner of the website www.sneakfreak.vn ) is committed to respecting and protecting
                your private
                information. We understand that you need to know how we manage personal information collected from the
                website. Please read and learn about the "Information Security Policy" below before accessing other
                content
                to better understand the commitments we make to respect and protect the rights of users. Your access,
                registration, and use of the SneakFreak.vn website means that you agree and accept to be bound by the
                terms
                of our privacy policy.</p>
            <br>
            <hr style="height: 2px; background-color: black; border: none;">
            <br>
            <h3>1. PERSONAL INFORMATION</h3>
            <br>
            <p>SneakFreak only asks for your personal information such as:</p>
            <ul>
                <li>Full name</li>
                <li>Email address</li>
                <li>Phone number</li>
                <li>Address (for order management and delivery purposes)</li>
            </ul>
            <p>Along with other optional information when you want to interact with some content on SneakFreak . Your
                personal information will be used by SneakFreak to identify and contact you when needed.</p>
            <br>
            <hr style="border: 1px dashed gray;">
            <br>
            <h3>2. HOW TO USE INFORMATION</h3>
            <br>
            <p>Normally, we use the information you provide only to contact, answer questions or confirm order
                information
                according to the name, address and phone number you have provided. We promise that your personal
                information
                will not be shared with any third party without your consent. We may only be allowed to share
                information
                with delivery partners or with partners in other programs and projects. SneakFreak customer data may be
                transferred to a successor or designated person according to the agreement to manage when the company is
                acquired, merged or declared bankrupt..
            </p>
            <br>
            <hr style="border: 1px dashed gray;">
            <br>
            <h3>3. ENSURING THE SECURITY OF COLLECTED INFORMATION</h3>
            <br>
            <p>SneakFreak only collects your personal information within the appropriate and necessary scope for the
                purpose
                of improving the quality of service as well as enhancing the experience of the services provided by
                SneakFreak. We are committed to respecting and always maintaining appropriate measures to ensure the
                safety,
                integrity, accuracy and confidentiality of the information you have trusted to provide to us. In
                addition,
                SneakFreak
                is also committed to taking appropriate measures to ensure the safety and confidentiality of all
                information
                you have provided to us in programs or in association with partners and third parties.</p>
            <br>
            <h3>4. COOKIES</h3>
            <br>
            <p>Cookies are small files generated during your visit and activities on the Website, recorded by SneakFreak
                to
                meet the needs of users and many other purposes.</p>
            <br>
            <hr style="border: 1px dashed gray;">
            <br>
            <h3>5. LINKS TO OTHER WEBSITE</h3>
            <br>
            <p>If you click on a link to a third party website, you will leave SneakFreak and go to the website you
                selected.
                SneakFreak cannot control the activities of third parties and is not responsible for the security or any
                content
                on such websites.</p>
            <hr style="border: 1px dashed gray;">
            <br>
            <h3>6. CHANGES</h3>
            <br>
            <p>We reserve the right to change or supplement the content of these terms. You can regularly check to
                understand the changed terms in our "Information Security Policy" . In addition, for important changes
                in
                the way of use related to the personal information you provide to SneakFreak , we will send you a notice
                by
                Email or notice on other official communication channels of SneakFreak . In case you have questions
                about
                the
                terms or how to use related to your personal information on the website SneakFreak.vn , please contact
                us at
                Email address: sneakfreak@gmail.com .</p>
        </main>
        <%- include('layout/footer.ejs'); -%>
</body>

</html>