<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/secondhand.css">
    <link rel="icon" type="image/png" href="/image/test.png">
    <script src="/js/navshow.js"></script>
    <script src="/js/validation-signup.js"></script>
</head>

<body class="login">
    <header>
        <ul class="nav-items">
            <li>
                <a href="/order-tracking">
                    <span class="hugeicons--package"></span> Order Tracking</a>
            </li>
            <li>
                <a href="/favourite">
                    <span class="mdi--favourite"></span>Favourite</a>
            </li>
            <li>
                <a href="/log-in">
                    <span class="icon-park-solid--people"></span>Log In</a>
            </li>
            <li>
                <a href="/cart">
                    <span class="mdi--cart"></span>Cart</a>
            </li>
        </ul>
    </header>
    <div class="nav">
        <div class="logoimg">
            <a href="/"> <img src="/image/test.png" alt="logo SneakFreak"></a>
        </div>
        <div class="nav_list">
            <div class="nav_item">
                <span class="nav_title"><a href="/product">PRODUCT</a></span>
                <div class="drop_down">
                    <div class="nav_product">
                        <div class="drop_down_item">
                            <div class="for_men">
                                <img src="/image/man.jpg" alt="men with sneaker">
                                <p style="color: black;">FOR MEN</p>
                            </div>
                        </div>
                        <div class="drop_down_item">
                            <div class="for_women">
                                <img src="/image/woman.jpg" alt="women with sneaker">
                                <p style="color: black;">FOR WOMEN</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav_item">
                <span class="nav_title"><a href="/product/male">MALE</a></span>
                <div class="drop_down">
                    <div class="outformat">
                        <div class="format">
                            <div class="drop_down_item" style="color: black; font-size: 18px;">PRODUCT LINE</div>
                            <div class="drop_down_item">Adidas</div>
                            <div class="drop_down_item">Converse</div>
                            <div class="drop_down_item">Nike</div>
                            <div class="drop_down_item">Vans</div>
                            <div class="drop_down_item">Puma</div>
                            <div class="drop_down_item">Other</div>
                        </div>
                        <div class="format">
                            <div class="drop_down_item" style="color: black; font-size: 18px;">STYLE</div>
                            <div class="drop_down_item">High Top</div>
                            <div class="drop_down_item">Low Top</div>
                            <div class="drop_down_item">Slip-on</div>
                            <div class="drop_down_item">Other</div>
                            <br>
                            <div class="drop_down_item" style="color: black;">All shoes</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav_item">
                <span class="nav_title"><a href="/product/female">FEMALE</a></span>
                <div class="drop_down" style="left: -40%;">
                    <div class="outformat">
                        <div class="format">
                            <div class="drop_down_item" style="color: black; font-size: 18px;">PRODUCT LINE</div>
                            <div class="drop_down_item">Adidas</div>
                            <div class="drop_down_item">Converse</div>
                            <div class="drop_down_item">Nike</div>
                            <div class="drop_down_item">Vans</div>
                            <div class="drop_down_item">Puma</div>
                            <div class="drop_down_item">Other</div>
                        </div>
                        <div class="format">
                            <div class="drop_down_item" style="color: black; font-size: 18px;">STYLE</div>
                            <div class="drop_down_item">High Top</div>
                            <div class="drop_down_item">Low Top</div>
                            <div class="drop_down_item">Slip-on</div>
                            <div class="drop_down_item">Other</div>
                            <br>
                            <div class="drop_down_item" style="color: black;">All shoes</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav_item">
                <span class="nav_title"><a href="/second-hand-form">SNEAKER PASS</a></span>
            </div>
        </div>
        <div class="search_box">
            <div class="material-symbols--search"></div>
            <input type="text" placeholder="Search" />
        </div>
    </div>
    <div class="promotion">
        <div class="slide-wrapper">
            <div class="slide-track">
                <div class="slide">
                    <p><a href="/faqs">BUY MORE PAY LESS - APPLICABLE WHEN BUYING SECONDHAND</a></p>
                </div>
                <div class="slide">
                    <p><a href="/faqs">BUY 2 GET 10% OFF - APPLIES TO ALL SNEAKER</a></p>
                </div>
                <div class="slide">
                    <p><a href="/faqs">FREE SHIPPING WITH ORDERS FROM 50$</a></p>
                </div>
                <div class="slide">
                    <p><a href="/policy">14 DAYS RETURN POLICY - SHOES HAVE A HALF-YEAR WARRANTY</a></p>
                </div>
            </div>
        </div>
        <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
        <button class="next" onclick="changeSlide(1)">&#10095;</button>
    </div>
    <main>
        <form action="/admin" method="post">
            <h2 style="text-align: center;">Sign Up</h2>
            <table>
                <tr>
                    <td class="label"><label for="fname" class="form-label">First Name</label></td>
                    <td><input type="text" class="form-control" id="fname" name="FName">
                    </td>
                </tr>
                <tr>
                    <td class="label"><label for="lname" class="form-label">Last Name</label></td>
                    <td><input type="text" class="form-control" id="lname" name="LName">
                    </td>
                </tr>
                <tr>
                    <td class="label"><label for="email" class="form-label">Email</label></td>
                    <td><input type="email" class="form-control" id="email" name="Email" placeholder="abc@gmail.com">
                    </td>
                </tr>
                <tr>
                    <td class="label"><label for="pass" class="form-label">Password</label></td>
                    <td><input type="password" class="form-control" id="pass" name="Password" placeholder="password">
                    </td>
                </tr>
                <tr>
                    <td class="label"><label for="repass" class="form-label">Replay Password</label></td>
                    <td><input type="password" class="form-control" id="repass" name="Repassword"
                            placeholder="Replay password">
                    </td>
                </tr>
            </table>
            <i class="fa-solid fa-eye" style="left: 200px;"></i>
            <div id="error-box" class="error-box">
                <ul id="error-list"></ul>
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-primary me-2" style="margin-top: 5px;">Sign Up</button>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer1">
            <span class="material-symbols--store"></span>
            <div class="product">
                <h4>PRODUCT</h4>
                <br>
                <p><a href="/product/male">Men's shoes</a></p>
                <p><a href="/product/female">Women's shoes</a></p>
                <p><a href="/second-hand-form">Sneaker Pass</a></p>
            </div>
            <div class="support">
                <h4>SUPPORT</h4>
                <br>
                <p><a href="/faqs">FAQs</a></p>
                <a href="/privacy">Information Security</a>
                <p><a href="/policy">General Policy</a></p>
                <a href="/order-tracking">Order Tracking</a>
            </div>
            <div class="contact">
                <h4>CONTACT</h4>
                <br>
                <p>Email feedback</p>
                <a href="mailto: sneakfreak@gmail.com">SneakFreak@gmail.com</a>
                <p>Hotline:</p>
                <p>1900 3004</p>
            </div>
        </div>
        <div class="footer2">
            <div class="social">
                <h4>SNEAKFREAK SOCIAL</h4>
                <br>
                <div class="iconcontact">
                    <span class="raphael--facebook"></span>
                    <span class="mdi--instagram"></span>
                    <span class="teenyicons--youtube-outline"></span>
                </div>
            </div>
            <img src="/image/footer.png" alt="SNEAKFREAK's logo">
        </div>
        <p class="copyright">Copyright &copy 2025 SneakFreak. All rights reserved.</p>
    </footer>
</body>

</html>